swagger: '2.0'
info:
  version: 4.x.y
  title: IBM Watson Machine Learning API
  description: |
    ## Authorization

    Step by step instruction how to use Watson Machine Learning service
    can be found [here](https://console.ng.bluemix.net/docs/services/PredictiveModeling/using_pm_service_dsx.html#using_pm_service_dsx)

    ### IBM Watson Machine Learning Credentials

    To start working with API one needs to generate an `access token` using the `username` and `password`
    available on the Service Credentials tab of the IBM Watson Machine Learning service instance or also available in the VCAP environment variable.

    Example of the Service Credentials:

    ```json
    {
        "url": "https://us-south.ml.cloud.ibm.com",
        "access_key": "ERY9vcBfE4sE+F4g8hcotF9L+j81WXWeZv",
        "username": "c1ef4b80-2ee2-458e-ab92-e9ca97ec657d",
        "password": "030528d4-5a3e-4d4c-9258-5d553513be6f",
        "instance_id": "a751c209-954e-dc32-b441-ad56ce7a9f40"
    }
    ```

    Example of obtaining `access token` from Token Endpoint using HTTP Basic Auth (for details please refer to Token section below):

    `
    curl --basic --user username:password https://us-south.ml.cloud.ibm.com/v4/identity/token
    `

    The obtained `access token` needs to be prepended with `Bearer` word and it needs to be passed in the `Authorization` header for API calls.

    Example of API request with `Bearer access token`:

    `
    curl https://us-south.ml.cloud.ibm.com/v4/models -H "Authorization: Bearer eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6ImU4YmQzZGM3LWI5Y2UtNDY1OC1iZ..."
    `
host: us-south.ml.cloud.ibm.com
#basePath: /
schemes:
  - https
tags:
  - name: Models
  - name: Pipelines
  - name: Experiments
  - name: Deployments
  - name: Libraries
  - name: Runtimes
  - name: Functions
securityDefinitions:
  basicAuth:
    type: basic
    description: |
      To start working with API one needs to generate an access token using the username and password
        available on the Service Credentials tab of the IBM Watson Machine Learning service instance
        or also available in the VCAP environment variable.
  MLToken:
    type: apiKey
    name: Authorization
    in: header
    description: |
      You can authorize using access token (obtained from the token endpoint)
        to every WML REST API endpoint. The access token needs to be prepended with "Bearer" word.
security:
  - MLToken: []
#responses: !<tag:yaml.org,2002:js/undefined> ''
parameters:
  sparkServiceInstanceHeader:
    name: X-Spark-Service-Instance
    in: header
    required: true
    type: string
    format: byte
    description: |
      Spark instance (see introduction)
  sparkServiceInstanceOptionalHeader:
    name: X-Spark-Service-Instance
    in: header
    type: string
    format: byte
    description: |
      Spark instance (see introduction). This value is optional.
      If not specified the spark instance preset for the model deployment whould be used.
  sparkServiceInstanceOptionalForOnlineHeader:
    name: X-Spark-Service-Instance
    in: header
    type: string
    format: byte
    description: |
      Spark instance (see introduction). This value is required for batch and stream deployments.
      It is omitted for online deployments. Functionality of creating 'stream' and 'batch' deployments is currenly in beta.
paths:
  /v4/trainings:
    get:
      tags:
        - Training
      summary: Get the list of all trainings
      description: Get the list of all trainings
      parameters:
        - name: start
          description: Token required for token-based pagination. This token cannot be determined by end user. It is generated by the service and it is set in the url available in the `next` field.
          in: query
          type: string
        - name: limit
          description: How many resources should be returned. By default limit is 100. Max limit allowed is 1000.
          in: query
          type: number
        - name: tag.value
          description: Return only the resources with the given tag value
          in: query
          type: string
        - name: type
          description: 'Filter based on ''pipeline'' or ''experiment'' trainings. Example: type=pipeline. If not provided, returns all the trainings'
          in: query
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/training_resources'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/error_auth'
        '404':
          description: Error
          schema:
            $ref: '#/definitions/error_not_found'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/error_internal_server_error'
    post:
      tags:
        - Training
      summary: Create a new Machine Learning training
      description: Create a new Machine Learning training
      parameters:
        - name: payload
          in: body
          schema:
            $ref: '#/definitions/training_resource_entity_request'
      responses:
        '202':
          description: The training was started asynchronously
          schema:
            $ref: '#/definitions/training_resource'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/error_bad_request'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/error_auth'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/error_internal_server_error'
  '/v4/trainings/{training_id}':
    delete:
      tags:
        - Training
      summary: Cancel an ongoing training.
      description: Cancel an ongoing training and remove it.
      parameters:
        - name: training_id
          in: path
          description: training identifier
          type: string
          required: true
      responses:
        '204':
          description: training cancelled
        '401':
          description: Error
          schema:
            $ref: '#/definitions/error_auth'
        '404':
          description: Error
          schema:
            $ref: '#/definitions/error_not_found'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/error_internal_server_error'
    get:
      tags:
        - Training
      summary: Get the training status
      description: 'Get the training status. This call supported Web-Socket upgrade. However in order to preserve bandwidth, web-socket messages are not context complete. Meaning that a single web-socket message only reflects a message or metric happening in the context of a training job or sub-job (in case of experiment trainings or HPO/AutoML trainings). Hence the metadata property of a web-socket message contains a parent with the url information of the parent job that triggered this partibular job. Also the metrics will be provided as they arrive from the backend runtime, and not as a cumulative list. In order to get the full view of the running training job the caller should do a regular GET call.'
      parameters:
        - name: training_id
          in: path
          description: training identifier
          type: string
          required: true
      responses:
        '101':
          description: 'In case of web socket upgrade, the service messages emitted have the following shape.'
          schema:
            $ref: '#/definitions/training_websocket'
        '200':
          description: Success
          schema:
            $ref: '#/definitions/training_resource'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/error_auth'
        '404':
          description: Error
          schema:
            $ref: '#/definitions/error_not_found'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/error_internal_server_error'
definitions:
  training_websocket:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/resource_meta'
      entity:
        $ref: '#/definitions/status'
  training_resource_entity_request:
    type: object
    properties:
      tags:
        $ref: '#/definitions/tags'
      experiment:
        $ref: '#/definitions/experiment_object'
      pipeline:
        $ref: '#/definitions/pipeline_object'
      training_data_references:
        type: array
        items:
          $ref: '#/definitions/data_reference'
      results_reference:
        $ref: '#/definitions/object_location'
    required:
      - training_data_references
      - results_reference
  experiment_object:
    type: object
    properties:
      url:
        type: string
        format: url
  pipeline_object:
    type: object
    properties:
      url:
        type: string
        format: url
      data_bindings:
        type: array
        items:
          type: object
          properties:
            data_reference_name:
              description: the input_data_reference name that is the input for the node identified by node_id
              type: string
            node_id:
              type: string
              description: the id of the pipeline node that will receive the associated input_data_reference input
      nodes_parameters:
        $ref: '#/definitions/node_parameters_object'
  node_parameters_object:
    type: array
    items:
      type: object
      properties:
        node_id:
          type: string
        parameters:
          type: object
  status:
    type: object
    properties:
      running_at:
        type: string
        example: '2017-01-30T10:11:12Z'
        format: date-time
      finished_at:
        type: string
        example: '2017-01-30T10:11:12Z'
        format: date-time
      iteration:
        type: number
        example: 10
      total_iterations:
        type: number
        example: 100
      state:
        type: string
        enum:
          - queued
          - pending
          - running
          - storing
          - completed
          - failed
          - canceled
      message:
        type: object
        properties:
          level:
            type: string
          text:
            type: string
      metrics:
        $ref: '#/definitions/metrics'
      failure:
        $ref: '#/definitions/error'
    required:
      - state
  training_resource_entity:
    allOf:
      - $ref: '#/definitions/training_resource_entity_request'
      - type: object
        properties:
          status:
            $ref: '#/definitions/status'
          sub_trainings:
            type: array
            items:
              $ref: '#/definitions/training_resource'
  training_resource:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/resource_meta'
      entity:
        $ref: '#/definitions/training_resource_entity'
  training_resources:
    allOf:
      - $ref: '#/definitions/pagination'
      - type: object
        properties:
          resources:
            type: array
            items:
              $ref: '#/definitions/training_resource'
  pagination:
    type: object
    properties:
      first:
        $ref: '#/definitions/url_object'
      next:
        $ref: '#/definitions/url_object'
      limit:
        type: number
        example: 10
  url_object:
    type: object
    properties:
      url:
        type: string
  resource_meta:
    type: object
    properties:
      guid:
        type: string
      url:
        type: string
        format: uri
      created_at:
        type: string
        format: date-time
      modified_at:
        type: string
        format: date-time
      parent:
        type: object
        properties:
          url:
            type: string
    example:
      guid: 53dc4cf1-252f-424b-b52d-5cdd9814987f
      url: '{baseUrl}/v4/trainings/53dc4cf1-252f-424b-b52d-5cdd9814987f'
      created_at: '2018-09-09T10:11:12Z'
    required:
      - guid
      - url
  error:
    type: object
    properties:
      trace:
        type: string
        example: w7vrpmm9479z2o0hxhex0ttgat4qv9ev
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
              example: missing_field
            message:
              type: string
              example: The `first_name` field is required.
            more_info:
              type: string
              example: 'https://docs.api.bluemix.net/v4/users/create_user#first_name'
    required:
      - trace
      - errors
  error_bad_request:
    type: object
    properties:
      trace:
        type: string
        example: w7vrpmm9479z2o0hxhex0ttgat4qv9ev
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
              example: invalid_input
            message:
              type: string
              example: Invalid `field` specified
            target:
              type: object
              properties:
                type:
                  type: string
                  example: field
                name:
                  type: string
                  example: '`field`'
              required:
                - type
                - name
          required:
            - code
            - message
    required:
      - trace
      - errors
  error_not_found:
    type: object
    properties:
      trace:
        type: string
        example: w8vrpmm9479z2o0hxhex0ttgat4qv9ev
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
              example: not_found
            message:
              type: string
              example: Requested object could not be found.
          required:
            - code
            - message
    required:
      - trace
      - errors
  error_internal_server_error:
    type: object
    properties:
      trace:
        type: string
        example: w9vrpmm9479z2o0hxhex0ttgat4qv9ev
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
              example: internal_server_error
            message:
              type: string
              example: Internal server error occurred while performing the action
          required:
            - code
            - message
    required:
      - trace
      - errors
  data_reference:
    type: object
    allOf:
      - $ref: '#/definitions/object_location'
      - type: object
        properties:
          schema:
            description: 'https://api.dataplatform.cloud.ibm.com/schemas/common-pipeline/datarecord-metadata/datarecord-metadata-v2-schema.json'
            type: object
    required:
      - type
      - connection
      - location
  object_location:
    type: object
    properties:
      name:
        type: string
      type:
        description: The data source type like COS or dashDB. Allowed values for type are 's3' for COS and 'dashdb' for dashDB
        type: string
      connection:
        type: object
        example:
          endpoint_url: 'https://s3-api.dal-us-geo.objectstorage.softlayer.net'
          access_key_id: string
          secret_access_key: string
      location:
        type: object
        description: 'For sentiment models, path will be hybrid pipeline id e.g.4cedab6d-e8e4-4214-b81a-2ddb122db2ab. For DL models, path will be training directory name e.g. training-ZZaQeX7mR'
        example:
          bucket: bucket
          path: path
    required:
      - type
      - connection
      - location
  metrics:
    type: array
    items:
      type: object
      properties:
        timestamp:
          type: string
          example: '2018-12-01T10:11:12Z'
          format: date-time
        iteration:
          type: number
        phase:
          type: string
          enum:
            - evaluation
            - training
        machine_learning_metrics:
          type: object
          example:
            loss: 0.679798743
            learning_rate: 0.082342
  tags:
    type: array
    items:
      type: object
      properties:
        value:
          type: string
        description:
          type: string
      required:
        - value
  error_auth:
    type: object
    properties:
      trace:
        type: string
        example: w8vrpmm9479z2o0hxhex0ttgat4qv9ev
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
              example: authorization_rejected
            message:
              type: string
          required:
            - code
            - message
    required:
      - trace
      - errors
